body{
  background:#fff;
}

img{
  height:100%;
  position:relative;
}

h2{
  color:#fff;
}

h5{
  padding:15px 0 0 0;
  vertical-align: middle;
}
h5 > span{
  font-size:20px;
  font-weight: bold;
  margin-top:-15px;
  float:left;
  padding:10px;
  background:#212121;
}
.col-sm-2{
  padding-bottom:20px;
}
.bg-success{
  background:green;
    color:white;

}
.bg-black{
  color:white;
  background: #666;
}
.bg-danger{
  background:red;
  color:white;
}
.bg-active{
  background:pink;
  color:white;
}
.bg-connecting{
  background:blue;
  color:white;
}
.holder{
  transition: background 1s ease;
}
.timer{
  position:absolute;
  top:20px;
  background:rgba(255,255,255,0.5);
  right:20px;
  padding:3px;
  border-radius: 5px;
}

.image_reloader{
  height:30px;
  width:30px;
  margin-top:-10px;
  padding-right:10px;
  background:none;
  -webkit-animation:fadein 2s;
  -webkit-animation:fadeout 2s;
  -webkit-animation-delay:fadeout 0s;
}

.monitor{
  z-index:1000;
  position:absolute;
  height:800px;
}
.monitor_image{
  padding-top:30px;
  padding-left:40px;
}

.btn-mybutt{
  margin:5px;
  border:1px solid grey;
}

.close_modal{
  position:absolute;
  top:10px;
  right:10px;
}

@-webkit-keyframes fadein {
from {
opacity:0;
}
to {
opacity:1;
}
}
@-webkit-keyframes fadeout {
from {
    opacity:1;
}
to {
    opacity:0;
}
}
