body{
  background:#fff;
  font-family: 'Roboto',arial,sans-serif;
}

img.livefeed{
  position:relative;
  padding:0px;
  background:#000;
}

.symptom{
  padding:5px;
  border-top:1px dashed #f2f2f2;
}

h1{
  padding:20px;
  border-bottom:1px dashed #ccc;
  color:#1A305F;
}

h2{
  color:#FFF;
  margin:10px;
}

h5{
  padding:0;
  position:absolute;
  top:5px;
  left:15px;
  z-index:1000000000000;
}

h5 > span{
  font-size:20px;
  font-weight: bold;
  margin-top:-15px;
  float:left;
  padding:10px;
  background:rgba(0,0,0,0.5);
  width:40px;
  text-align: center;

}
h5 > div{
  color:#212121;
  position: absolute;
  top:-15px;
  left:40px;
  right:0px;
  bottom: 0px;
  background:rgba(255,255,255,1);
  width:180px;
  border:1px solid #212121;
  height:220px;
  overflow: hidden;
  z-index:2000000000000;
}
h5 > div > div{
  padding:5px;
  list-style: none;
  width:100%;
  background:rgba(255,255,255,1);
}

.modal-step{
  background:#fff;
}
.header{
background:#f2f2f2;
border-bottom:1px solid #ccc;
padding:20px;
}
.logo{
  height:40px;
  margin-top:-10px;
}


.navbar-nav{
}
.navbar{
  border-radius:0;
  margin-bottom:0px;
}
.navbar a{
  color:#000;
  text-transform: uppercase;
  font-size:14px;
  font-weight:bold;
  font-family:sans-serif;
}

.navbar a i{
  color:#000;
  height:25px;
  width:25px;
  background:#fff;
  border-radius: 100%;
  text-align: center;
  vertical-align: middle;
  padding-top:4px;
  border:1px solid #ccc;
}

.placeholder{
  color:#f2f2f2;
}
.form_serial{
  text-align: center;
  background:url('../img/matrix.jpg') repeat-x center top #212121;
  padding:10px;
}
.form_serial_red{
  text-align: center;
  background:red;
  transition: background 2s ease;
  padding:10px;
}
.form_serial_green{
  text-align: center;
  background:green;
  transition: background 1s ease;
  padding:10px;
}
.input_wrapper{
  padding:20px;
}

.input_wrapper input{
  font-size:30px;
  border:0px;
}
.input_wrapper select{
  font-size:30px;
  border:0px;
}
.col-sm-2, .col-sm-3{
  padding-bottom:20px;
}
.bg-success{
  background:green;
    color:white;

}
.bg-black{
  color:white;
}
.bg-danger{
  background:red;
  color:white;
}
.bg-active{
  background:pink;
  color:white;
}
.bg-connecting{
  background:blue;
  color:white;
}
.holder{
  transition: background 1s ease;
}
.timer{
  position:absolute;
  bottom:20px;
  background:rgba(0,0,0,0.5);
  left:15px;
  right:15px;
  padding:3px 13px 5px 13px;
  z-index:10000;
  font-size:12px;
}

.image_reloader{
  height:30px;
  width:30px;
  margin-top:-10px;
  padding-right:10px;
  background:none;
  -webkit-animation:fadein 2s;
  -webkit-animation:fadeout 2s;
  -webkit-animation-delay:fadeout 0s;
}
.hdmiswitch{
  margin-top:20px;
  margin-right:30px;
}

.monitor{
  z-index:1000;
  position:absolute;
  height:800px;
}
.monitor_image{
  padding-top:30px;
  padding-left:40px;
}
.ReactModal__Overlay{
z-index:2000000000000;
}
.btn-mybutt{
  margin:5px;
  border:1px solid grey;
}

.close_modal{
  position:absolute;
  top:10px;
  right:10px;
}

.react-timer{
  font-size: 10px;
}

.listitemvideotest{
  border:1px solid #212121;
}

.steps > button {
  margin-right:10px;
}

.buttonstep_wrapper{
  padding:5px;
}

.test_status{
  position:absolute;
  bottom:25px;
  right:25px;
  z-index:1000000;
}

.bg-banner{
  background:url('../img/matrix.jpg') repeat-x center bottom #212121;

}

.login-info a{
  color:#0EC7DE;
  padding:3px;
  margin:3px;
  margin-right:10px;
  text-transform: uppercase;
  font-size:11px;
}
.login-info a:hover{
  text-decoration: none;

}
table.jsonTable{
  width:100%;
}
table.jsonTable td{
  padding:10px;
  border:1px solid #f2f2f2;
}

.menu_show, .menu_hide {
    display:none;
    margin-top:-50px;
    height:0;
    -webkit-transition: height 1s ease-in-out;
    -moz-transition: height 1s ease-in-out;
    -ms-transition: height 1s ease-in-out;
    -o-transition: height 1s ease-in-out;
    transition: height 1s ease-in-out;
}
.menu_show {
    display: inline;
    height:50px;
}
@-webkit-keyframes fadein {
from {
opacity:0;
}
to {
opacity:1;
}
}
@-webkit-keyframes fadeout {
from {
    opacity:1;
}
to {
    opacity:0;
}
}
