body{
  background:#fff;
  font-family: 'Roboto',arial,sans-serif;
}

img.livefeed{
  max-height:230px;
  position:relative;
  padding:20px;
}

h1{
  padding:20px;
  border-bottom:1px dashed #ccc;
}

h1,h2{
  color:#1A305F;
}

h5{
  padding:0;
  position:absolute;
  top:25px;
  left:35px;
  z-index:1000;
}
h5 > span{
  font-size:20px;
  font-weight: bold;
  margin-top:-15px;
  float:left;
  padding:10px;
  background:rgba(0,0,0,0.5);

}

.header{
background:#f2f2f2;
border-bottom:1px solid #ccc;
padding:20px;
display: none;
}
.logo{
  height:40px;
  margin-top:-10px;
}


.navbar-nav{
}
.navbar a{
  color:#212121;
  text-transform: uppercase;
  font-size:13px;
}

.navbar a i{
  color:#000;
}


.form_serial{
  text-align: center;
}
.input_wrapper{
  background:#ffcc99;
  padding:50px;
  border-radius: 50px;
}

.input_wrapper input{
  font-size:30px;
}

.col-sm-2{
  padding-bottom:20px;
}
.bg-success{
  background:green;
    color:white;

}
.bg-black{
  color:white;
}
.bg-danger{
  background:red;
  color:white;
}
.bg-active{
  background:pink;
  color:white;
}
.bg-connecting{
  background:blue;
  color:white;
}
.holder{
  transition: background 1s ease;
}
.timer{
  position:absolute;
  bottom:45px;
  background:rgba(0,0,0,0.5);
  left:40px;
  padding:3px;
  border-radius: 5px;
  z-index:10000;
  font-size:9px;
}

.image_reloader{
  height:30px;
  width:30px;
  margin-top:-10px;
  padding-right:10px;
  background:none;
  -webkit-animation:fadein 2s;
  -webkit-animation:fadeout 2s;
  -webkit-animation-delay:fadeout 0s;
}

.monitor{
  z-index:1000;
  position:absolute;
  height:800px;
}
.monitor_image{
  padding-top:30px;
  padding-left:40px;
}
.ReactModal__Overlay{
  z-index:1000000000;
}
.btn-mybutt{
  margin:5px;
  border:1px solid grey;
}

.close_modal{
  position:absolute;
  top:10px;
  right:10px;
}

.react-timer{
  font-size: 8px;
}


@-webkit-keyframes fadein {
from {
opacity:0;
}
to {
opacity:1;
}
}
@-webkit-keyframes fadeout {
from {
    opacity:1;
}
to {
    opacity:0;
}
}
